<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-4 text-center">
      <h3>Django ToDo App - Edit Task</h3>
      <a type="button" class="btn btn-primary" href="{% url 'home' %}"
        >Go Back</a
      >
      <br />
      <br />
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">{{ form }}</div>
        <br />
        <button type="submit" class="btn btn-primary">Update Task</button>
      </form>
    </div>
  </body>
</html>
